/*
	h1 엘리먼트에 스타일 지정
*/
h1{
	color: blue;
	background-color: gray;
}

/*
	h1, h2 엘리먼트에 스타일 지정
*/
h1, h2 {
	font-size: 16pt;
}

/*
	계층 선택자
	- 선택자 > 태그명 : 자손 선택자
	- 선택자 + 태그명 : 형제(근접 후행) 선택자
	- 선택자 ~ 태그명 : 형제(후행) 선택자
*/